@import '../../../assets/styles/theme.scss';

.TeleprogramItem {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 5px;
  border: 1px dashed $second;
  border-radius: 10px;

  &_finish {
    background-color: $fourth;
    color: $fifth;
  }

  &__desc {
    padding: 15px;
  }

  &__descBtn {
    margin: 5px 0;
    font-size: 12px;
    line-height: 1;
    color: $fifth;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  &__titleStart {
    margin-right: 10px;
  }
}
